
$color-link: blue;
$color-link-hover: blue;
$color-link-visited: blue;
$color-link-active: blue;

$color-block-green: #3C5239;
$color-block-brown: #3A3533;
$color-block-indigo: #406567;
$color-block-blue: #343D51;
$color-block-purple: #3A384B;